
/** Navigiation Menu **/

footer {
  text-align: center;
}

p {
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
}

.landing-page {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.about {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

.contact {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  h1 {
    text-align: center;
  }

  /** FORM STYLING **/

form{
  margin: 2rem;
  width: 800px;
}
.form-box{
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}
.form-box label{
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
}
.form-box input{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box select{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box option{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box button{
    font-size: 1rem;
    border: none;
    padding: 0.25rem 2rem;
    margin-right: 1rem;
    color: white;
    background-color: #333;
    cursor: pointer;
}

.error::after{
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position:absolute;
    right: 0;
    content: attr(data-errormsg);
}

/**Flex box Syling **/

.flexbox-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.flexbox-item {
  width: 25%;
  margin: 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.flexbox-item-1 {
  min-height: 100px;
}

.flexbox-item-2 {
  min-height: 200px;
}

.flexbox-item-3 {
  min-height: 300px;
}

.memeClass {
  margin: 3%;
  position: relative;
}

.topText {
  position: absolute;
  top: 17px;
  left: 50px;
}

.bottomText {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

